workflow/baseline-workflow.json
{
  "name": "PDFor Baseline Translation Flow",
  "nodes": [
    {
      "id": "manual_trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 300],
      "parameters": {}
    },
    {
      "id": "validate_input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [450, 300],
      "parameters": {
        "command": "python scripts/validate_input.py {{$json.payload_path}}"
      }
    },
    {
      "id": "normalize_jobs",
      "name": "Normalize Jobs",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [700, 300],
      "parameters": {
        "command": "python scripts/normalize_jobs.py {{$json.payload_path}} --output {{$json.jobs_path}}"
      }
    },
    {
      "id": "build_commands",
      "name": "Build Commands",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [950, 300],
      "parameters": {
        "command": "python scripts/build_commands.py {{$json.jobs_path}} --service-config configs/services.json --output {{$json.commands_path}} --audit-out {{$json.audit_path}}"
      }
    },
    {
      "id": "execute_commands",
      "name": "Execute With Resilience",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1200, 300],
      "parameters": {
        "command": "python scripts/execute_with_resilience.py {{$json.commands_path}} --service-config configs/services.json --output {{$json.results_path}} --segments-out {{$json.segments_path}} --summary-out {{$json.summary_path}} --max-attempts {{$json.max_attempts || 3}} --max-workers {{$json.max_workers || 2}}"
      }
    },
    {
      "id": "collect_artifacts",
      "name": "Collect Artifacts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 300],
      "parameters": {
        "language": "javaScript",
        "jsCode": "return [{ json: { run_id: $json.run_id, jobs_path: $json.jobs_path, commands_path: $json.commands_path, audit_path: $json.audit_path, results_path: $json.results_path, segments_path: $json.segments_path, summary_path: $json.summary_path } }];"
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Normalize Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Jobs": {
      "main": [
        [
          {
            "node": "Build Commands",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Commands": {
      "main": [
        [
          {
            "node": "Execute With Resilience",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute With Resilience": {
      "main": [
        [
          {
            "node": "Collect Artifacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "version": "baseline-t07.1"
  }
}
