workflow/page-rerun-workflow.json
{
  "name": "PDFor Targeted Page Rerun",
  "nodes": [
    {
      "id": "manual_trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [180, 300],
      "parameters": {}
    },
    {
      "id": "validate_input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [420, 300],
      "parameters": {
        "command": "python scripts/validate_input.py {{$json.payload_path}}"
      }
    },
    {
      "id": "normalize_jobs",
      "name": "Normalize Jobs",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [660, 300],
      "parameters": {
        "command": "python scripts/normalize_jobs.py {{$json.payload_path}} --output {{$json.jobs_path}}"
      }
    },
    {
      "id": "apply_rerun_pages",
      "name": "Apply Rerun Pages",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [900, 300],
      "parameters": {
        "command": "python scripts/apply_rerun_pages.py {{$json.jobs_path}} --pages {{$json.rerun_pages}} --target-file-id {{$json.target_file_id || ''}} --target-job-id {{$json.target_job_id || ''}} --output {{$json.rerun_jobs_path || $json.jobs_path}}"
      }
    },
    {
      "id": "build_commands",
      "name": "Build Commands",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1140, 300],
      "parameters": {
        "command": "python scripts/build_commands.py {{$json.rerun_jobs_path || $json.jobs_path}} --service-config configs/services.json --output {{$json.commands_path}} --audit-out {{$json.audit_path}}"
      }
    },
    {
      "id": "execute_commands",
      "name": "Execute With Resilience",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1380, 300],
      "parameters": {
        "command": "python scripts/execute_with_resilience.py {{$json.commands_path}} --service-config configs/services.json --output {{$json.results_path}} --segments-out {{$json.segments_path}} --summary-out {{$json.summary_path}} --max-attempts {{$json.max_attempts || 3}} --max-workers {{$json.max_workers || 2}}"
      }
    },
    {
      "id": "collect_artifacts",
      "name": "Collect Artifacts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1620, 300],
      "parameters": {
        "language": "javaScript",
        "jsCode": "return [{ json: { run_id: $json.run_id, rerun_pages: $json.rerun_pages, target_file_id: $json.target_file_id || null, target_job_id: $json.target_job_id || null, jobs_path: $json.rerun_jobs_path || $json.jobs_path, commands_path: $json.commands_path, results_path: $json.results_path, summary_path: $json.summary_path } }];"
      }
    }
  ],
  "connections": {
    "Manual Trigger": { "main": [[{ "node": "Validate Input", "type": "main", "index": 0 }]] },
    "Validate Input": { "main": [[{ "node": "Normalize Jobs", "type": "main", "index": 0 }]] },
    "Normalize Jobs": { "main": [[{ "node": "Apply Rerun Pages", "type": "main", "index": 0 }]] },
    "Apply Rerun Pages": { "main": [[{ "node": "Build Commands", "type": "main", "index": 0 }]] },
    "Build Commands": { "main": [[{ "node": "Execute With Resilience", "type": "main", "index": 0 }]] },
    "Execute With Resilience": { "main": [[{ "node": "Collect Artifacts", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "version": "t07.5-page-rerun"
  }
}
