workflow/publication-workflow.json
{
  "name": "PDFor Output Publication",
  "nodes": [
    {
      "id": "manual_trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [160, 320],
      "parameters": {}
    },
    {
      "id": "validate_input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [400, 320],
      "parameters": {
        "command": "python scripts/validate_input.py {{$json.payload_path}}"
      }
    },
    {
      "id": "normalize_jobs",
      "name": "Normalize Jobs",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [640, 320],
      "parameters": {
        "command": "python scripts/normalize_jobs.py {{$json.payload_path}} --output {{$json.jobs_path}}"
      }
    },
    {
      "id": "build_commands",
      "name": "Build Commands",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [880, 320],
      "parameters": {
        "command": "python scripts/build_commands.py {{$json.jobs_path}} --service-config configs/services.json --output {{$json.commands_path}} --audit-out {{$json.audit_path}}"
      }
    },
    {
      "id": "execute_commands",
      "name": "Execute With Resilience",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1120, 320],
      "parameters": {
        "command": "python scripts/execute_with_resilience.py {{$json.commands_path}} --service-config configs/services.json --output {{$json.results_path}} --segments-out {{$json.segments_path}} --summary-out {{$json.summary_path}} --max-attempts {{$json.max_attempts || 3}} --max-workers {{$json.max_workers || 2}}"
      }
    },
    {
      "id": "format_notification",
      "name": "Format Notification",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1360, 320],
      "parameters": {
        "command": "python scripts/format_error_notification.py --summary {{$json.summary_path}} --segments {{$json.segments_path}} --run-id {{$json.run_id}} --output {{$json.notification_path || 'logs/notifications/latest.json'}}"
      }
    },
    {
      "id": "collect_artifacts",
      "name": "Collect Artifacts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1600, 320],
      "parameters": {
        "language": "javaScript",
        "jsCode": "return [{ json: { run_id: $json.run_id, jobs_path: $json.jobs_path, commands_path: $json.commands_path, audit_path: $json.audit_path, results_path: $json.results_path, segments_path: $json.segments_path, summary_path: $json.summary_path, notification_path: $json.notification_path || 'logs/notifications/latest.json' } }];"
      }
    },
    {
      "id": "publish_outputs",
      "name": "Publish Outputs",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1840, 320],
      "parameters": {
        "command": "python scripts/publish_outputs.py --artifacts {{$json.artifacts_path || 'logs/artifacts/latest.json'}} --run-id {{$json.run_id}} --publication-mode {{$json.publication_mode || 'link'}} --public-base-url {{$json.public_base_url || 'https://files.local'}} --api-endpoint {{$json.api_endpoint || 'https://api.local/v1/pdfor/runs'}} --handoff-dir {{$json.handoff_dir || 'handoff'}} --output {{$json.publication_path || 'logs/publication/latest.json'}}"
      }
    },
    {
      "id": "response_payload",
      "name": "Build API Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2080, 320],
      "parameters": {
        "language": "javaScript",
        "jsCode": "return [{ json: { run_id: $json.run_id, publication_mode: $json.publication_mode || 'link', publication_path: $json.publication_path || 'logs/publication/latest.json', response_ready: true } }];"
      }
    }
  ],
  "connections": {
    "Manual Trigger": { "main": [[{ "node": "Validate Input", "type": "main", "index": 0 }]] },
    "Validate Input": { "main": [[{ "node": "Normalize Jobs", "type": "main", "index": 0 }]] },
    "Normalize Jobs": { "main": [[{ "node": "Build Commands", "type": "main", "index": 0 }]] },
    "Build Commands": { "main": [[{ "node": "Execute With Resilience", "type": "main", "index": 0 }]] },
    "Execute With Resilience": { "main": [[{ "node": "Format Notification", "type": "main", "index": 0 }]] },
    "Format Notification": { "main": [[{ "node": "Collect Artifacts", "type": "main", "index": 0 }]] },
    "Collect Artifacts": { "main": [[{ "node": "Publish Outputs", "type": "main", "index": 0 }]] },
    "Publish Outputs": { "main": [[{ "node": "Build API Response", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "version": "t07.3-publication"
  }
}
